body {
    font-size: 125%;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

h1 { 
    font-family: $header-font;
    margin: 0 0 20px 0;
}

h2 {
    font-family: $sub-headers;
    font-size: 2.5rem;
    margin: 0 20px;
    color: $accent;
}

h3 {
    font-family: $sub-headers;
}

p {
    font-family: $body-font;
}

// CHANGED MARGIN ********************
.img-container {
    height: 300px;
    width: 300px;
    object-fit: contain;
    // margin: 0 30px;
    margin: 0;
    
    img {
        box-shadow: 30px 30px 0 0 $solid-white, -30px -30px 0 0 $quaternary;
        border: 5px solid $tertiary;
        height: 100%;
        width: 100%;
    }
}

// ADDED IN LEFT-SIDE IMAGES, CHANGED SIZE, ALTERED MARGINS***************
.first-top-image,
.first-middle-image,
.first-bottom-image,
.top-image,
.middle-image,
.bottom-image {
    // height: 225px;
    // width: 225px;
    height: 200px;
    width: 200px;
    
    img {
        box-shadow: none;
    }
}

.top-image {
    // margin: 0 0 -50px -150px;
    margin: 0;
    // margin-bottom: -50px;
}

.middle-image {
    // margin: 0 0 -50px 0;
    // margin-bottom: -50px;
    margin-left: 150px;
    z-index: 10;
}

.bottom-image {
    // margin-left: -150px;
    margin: 0;
}

.header-image {
    display: flex;
    flex-direction: column;
}


.first-top-image {
    // margin: 0 0 -50px 150px;
    // margin: 0 0 -50px 40%;
    margin-left: 40%;
}

.first-middle-image {
    // margin: 0 0 -50px 0;
    z-index: 10;
}

.first-bottom-image {
    margin-left: 150px;
}


ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: $body-font;
    font-weight: 400;
    font-size: 1.5rem;
}