body {
    font-size: 125%;
}

.wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}

h1 { 
    font-family: 'Abril Fatface', cursive;  
}

h2 {
    font-family: 'Arapey', serif;
}

p {
    font-family: $body-font;
}