.gallery {
    background-color: $primary;

    .gallery-h2 {
        text-align: center;
        margin: 0;
        padding-top: 50px;
    }

    .gallery-content {
        height: auto;

        .gallery-img {
            margin: 50px 25px;

            img {
                border: 10px solid $tertiary;
                box-shadow: 0 10px 0 0 $quaternary;
                border-radius: 50%;
            }
            
        }
    }
}
