.gallery {
    background-color: $primary;
    display: flex;
    justify-content: center;

    .gallery-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: auto;
        margin: 50px 0;

        
        .gallery-img {
            margin: 10px 20px;
            object-fit: scale-down;

            img {
                border: 10px solid $tertiary;
                box-shadow: 0 10px 0 5px $quaternary;
                border-radius: 50%;
            }          
        }
    }
}
