header {
  height: 100vh;
  // background-color: $secondary;
  background: linear-gradient($quaternary, $tertiary, $solid-white, $secondary, $primary);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70vh;

  // .img-container {
  //   border: 10px solid $primary;
  // }

  .text {
    text-align: center;
    margin: 0 30px;
    padding: 30px;
    border: 10px solid #F4D06F;
    max-width: 60%;
    // border-bottom: 10px solid $tertiary;
    background-color: hsla(176, 63%, 87%, 30%);

    h1 {
      font-size: 5.5rem;
      text-shadow: 2px 2px 3px $accent;
      color: $primary;
    }
  }
}


.header-text {
  width: 55%;
  z-index: 20;
}

nav {
  margin-bottom: 30px;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: end;
  margin: 0;

  // border-bottom: 1px solid $accent;

  li {
    margin: 30px 40px;
  }

  li:last-child {
    margin-right: 0;
  }
  

  a {
    color: $accent;
    text-transform: uppercase;
    font-weight: 700;
    
    &:hover,
    &:focus {
      color: $quaternary;
    }
  }
}

button,
select {
  border: none;
  padding: 10px 20px;
  margin: 20px 0;
  background-color: $quaternary;
  border-radius: 5px;
  font-family: $body-font;
  font-weight: 300;

  &:hover,
  &:focus {
    background-color: $tertiary;
  }
}

