header {
  height: 100vh;
  background-color: $secondary;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70vh;

  // .img-container {
  //   border: 10px solid $primary;
  // }

  .text {
    text-align: center;
    margin: 0 30px;

    h1 {
      font-size: 5.5rem;
      color: $primary;
    }
  }
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: end;
  margin: 0;

  li {
    margin: 30px 50px;
  }

  li:last-child {
    margin-right: 0;
  }
  

  a {
    color: $accent;
    
    &:hover,
    &:focus {
      color: $quaternary;
    }
  }
}

button,
select {
  border: none;
  padding: 10px 20px;
  background-color: $quaternary;
  border-radius: 5px;
  font-family: $body-font;
  font-weight: 300;

  &:hover,
  &:focus {
    background-color: $tertiary;
  }
}

