header {
  height: 100vh;
  background: linear-gradient($quaternary, $tertiary, $solid-white, $secondary, $primary);
}


.content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text {
    text-align: center;
    margin: 0 30px;
    padding: 30px;
    border: 10px solid #F4D06F;
    max-width: 60%;
    background-color: hsla(176, 63%, 87%, 30%);
  
    h1 {
      font-size: 5.5rem;
      text-shadow: 2px 2px 3px $accent;
      color: $primary;
    }
  }
}


.header-text {
  width: 55%;
  margin: 0;
}


nav ul {
  display: flex;
  list-style: none;
  justify-content: end;
  margin: 0;

  li {
    margin: 20px 40px 40px 40px;
  }

  li:last-child {
    margin-right: 0;
  }

  a {
    color: $accent;
    text-transform: uppercase;
    font-weight: 700;

    &:hover,
    &:focus {
      color: $primary;
      text-shadow: 2px 2px 3px $accent;
    }
  }
}


.header-text a,
button,
select {
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 20px 0;
  background-color: $quaternary;
  border-radius: 5px;
  font-family: $body-font;
  font-weight: 300;

  &:hover,
  &:focus {
    background-color: $tertiary;
  }
}


.header-text a {
  font-size: 1.2rem;
  display: inline-block;
}


.hamburger-menu {
  display: none;
  
  .dropdown-nav a:active .dropdown-menu,
  .dropdown-nav li:hover .dropdown-menu,
  .dropdown-nav li:focus .dropdown-menu li a {
    display: block;
    position: absolute;
    color: $secondary;
    text-decoration: none;
    cursor: pointer;
  }
    
  .menu-icon {
    font-size: 2.5rem;
    color: $accent;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: transparent;
  }

  .dropdown-menu {
    display: none;
    margin: 0;
    width: 125px;
    transition: 3s;
    padding: 0 10px;
    color: $accent;
    background-color: hsla(35, 100%, 55%);
    cursor: pointer;
  
    li {
      padding: 15px 0;
      margin-left: 0;
      padding-left: 0;
      max-width: 20px;
    }
  }
}


.dropdown-menu li {
  a {
    text-decoration: none;
  }
}





// TO DO:
// clear dropdown with every change✅
// take out origins✅
// change "they"to "its"in write up and add "being"before the trait list✅
// fix the rest of the nav (so it's stops overlapping)✅
// fix the spacing on the dropdown✅
// clean up the JS sheet✅


// figure our click function for nav icon
// if there's time, figure out how to lowercase the js words

