.interactive-section {
    background-color: $primary;

    .text {
        background-color: $secondary;
        padding: 50px;
        border-radius: 5px;
    }

    // .img-container {
    //     width: 30%;
    // }
    
}
