.interactive-section {
    background-color: $primary;

    .text {
        background-color: $secondary;
        padding: 50px;
        border-radius: 5px;

        select {
            font-family: $sub-headers;

            option {
                &:hover,
                &:focus {
                    background-color: $primary;
                } 
            }

            
        }
    }

    // .img-container {
    //     width: 30%;
    // }
    
}
