// HEADER:
@media (max-width: 1360px) {
    .first-top-image,
    .first-middle-image,
    .first-bottom-image,
    .top-image,
    .middle-image,
    .bottom-image {
        margin: 0;
        width: 175px;
        height: 175px;
    }
}


@media (max-width: 1250px) {
    .dog-info-text {
        font-size: 1.7rem;
        padding: 25px;
    }

}



@media (max-width: 980px) {
    .header-text {
        width: 50%;
    }
    .content {
        .text {
            margin: 0;

            h1 {
                font-size: 4rem;
                padding: 0 10px;
            }
        }
    }

    h2 {
        font-size: 2rem;
    }


    .dropdown-content {
        height: 70vh;
    }
    
    .dropdown-image {
        img {
            box-shadow: none;
        }
    }
    

    .results-container {
        flex-direction: column;
        align-items: center;
    }
    
    #img-div {
        max-width: 60%;
    }

    #results-text {
        max-width: 80%;
    }

    .js-img-div{
        padding: 0;
        padding-top: 50px;
    }
}


// @media (max-width: 800px) {
//     .dropdown-image {
//         display: none;
//     }

//     .dropdown-content {
//         height: auto;
//         flex-direction: column;
//         align-items: center;
//     }
// }


@media (max-width: 800px) {
    .header {
        height: auto;
    }

    .content {
        height: auto;
        flex-direction: column;
        align-items: center;
        // height: auto;

        .text {
            max-width: 100%;
        }
    }

    .header-text {
        width: 100%;
    }

    .header-image {
        flex-direction: row;
    }

    .header-content {
        height: auto;
    }


    .interactive-section {
        height: auto;
        // padding: 150px 0 100px 0;

        .dropdown-image {
            display: none;
        }

        .text {
            margin: 100px;
        }
    }
}


@media (max-width: 520px) {
    .first-bottom-image,
    .bottom-image {
        display: none;
    }
}