// HEADER:
@media (max-width: 1360px) {
    .first-top-image,
    .first-middle-image,
    .first-bottom-image,
    .top-image,
    .middle-image,
    .bottom-image {
        margin: 0;
        width: 175px;
        height: 175px;
    }
}