.results {
    background-color: $secondary;
}

#initial-results {
    text-align: center;
}

.results-container {
    display: flex;
    justify-content: center;
}

#img-div,
#results-text {
    max-width: 40%;
    display: flex;
    align-items: center;
}



#img-div {
    height: auto;
    object-fit: contain;

    img {
        height: auto;
        width: 100%;
        border: 5px solid $tertiary;
        box-shadow: -5px -5px 0 0 $quaternary, 5px 5px 0 0 $quaternary;
    }
}


.dog-info-text,
.js-img-div {
    padding: 50px 0;
}

.js-img-div {
    padding-right: 15px;
}

.dog-info-text {
    // background-color: $tertiary;
    font-size: 2rem;
    border: 10px solid $primary;
    font-family: $sub-headers;
    padding: 50px;
    // padding-left: 15px;
}

.dog-info-title {
    padding-top: 50px;
}