// site colours
$primary: #2EC4B6;
$secondary: #CBF3F0;
$tertiary: #FFBF69;
$quaternary: #FF9F1C;
$accent: #11504a;
$solid-white: #FFF;


// site fonts

$header-font: 'Abril Fatface', cursive;
$sub-headers: 'Arapey', serif;
$body-font: 'Lato', sans-serif;


